<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <title>Doing Business North America</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/analysis">Analysis</a>
    <a class="navbar-brand" href="/clustering">Clustering</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Create Maps Dropdown -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Methodology</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class = "nav-link" href="/methodology/starting-a-business">Starting a Business</a>
                <a class = "nav-link" href="/methodology/employing-workers">Employing Workers</a>
                <a class = "nav-link" href="/methodology/getting-electricity">Getting Electricity</a>
                <a class = "nav-link" href="/methodology/paying-taxes">Paying Taxes</a>
                <a class = "nav-link" href="/methodology/land-space-use">Land and Space Use</a>
                <a class = "nav-link" href="/methodology/resolving-insolvency">Resolving Insolvency</a>
              </div>
          </li>
        </ul>
      </div>
    </nav>

  <div class="jumbotron text-center">
    <h1>Doing Business North America</h1>
    <h3>A Research Project Inspired by the World Bank Doing Business Report</h3>
    <h4>By: Paul Bernert</h4>
  </div>

  <!--Create Containers-->
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>What is Doing Business North America?</h1>
        <hr>
        <p>The Doing Business North America (DBNA) project annually provides objective measures of the scale and scope of business
          regulations in 115 cities across 92 states, provinces, and federal districts of the U.S., Canada, and Mexico.
          It uses these measures to score and rank cities in regard to how easy or difficult it is to set up, operate, and shut down a business. </p>

          <h1>Why is this report important now?</h1>
          <hr>
          <p>Over the years, researchers have begun to understand how robust measurement and ranking of regulations that either enhance business
          activity or constrain it can provide substantial insight into economic outcomes. Objective measurements of those regulations have been
          vital in this understanding. Unlike many studies that measure regulations at the state level, this annual study measures the impact at
          the city level and does so for over 100 municipal jurisdictions across North America.</p>
        </div>
      </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
