<!DOCTYPE html>

<head>
  <meta charset='utf-8'>
  <title>Analysis | DBNA</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/analysis">Analysis</a>
    <a class="navbar-brand" href="/clustering">Clustering</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Methodology Dropdown -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Methodology</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class = "nav-link" href="/methodology/starting-a-business">Starting a Business</a>
              <a class = "nav-link" href="/methodology/employing-workers">Employing Workers</a>
              <a class = "nav-link" href="/methodology/getting-electricity">Getting Electricity</a>
              <a class = "nav-link" href="/methodology/paying-taxes">Paying Taxes</a>
              <a class = "nav-link" href="/methodology/land-space-use">Land and Space Use</a>
              <a class = "nav-link" href="/methodology/resolving-insolvency">Resolving Insolvency</a>
            </div>
        </li>
      </ul>
    </div>
  </nav>

  <p><img src="https://raw.githubusercontent.com/PaulBernert/DBNA/master/images/methodology.PNG"/></p>

  <!--Create Containers-->
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 id="resolving-insolvency">RESOLVING INSOLVENCY</h1>
        <h2 id="what-does-resolving-insolvency-measure-">WHAT DOES RESOLVING INSOLVENCY MEASURE?</h2>
        <p>Doing Business North America studies the time, cost, and outcome of insolvency proceedings involving domestic entities as well as the strength of the legal framework applicable to judicial liquidation and reorganization proceedings. Indicators related to time and the strength of the legal framework index are used to calculate the regulatory performance for resolving insolvency.</p>
        <p>To make the data on the time, cost, and outcome of insolvency proceedings comparable across economies, several assumptions about the business and the case are used.</p>
        <h2 id="assumptions-about-the-business-and-parties">ASSUMPTIONS ABOUT THE BUSINESS AND PARTIES</h2>
        <h3 id="the-business-">The business:</h3>
        <ul>
        <li>Is a limited liability company. </li>
        <li>If there is more than one type of limited liability company in the economy, the limited liability form most common among domestic firms is chosen.</li>
        <li>If the country does not have a limited liability company option, the company structure most similar to that of an LLC is chosen.</li>
        <li>Has a 10-year loan agreement with a domestic bank secured by a mortgage over the real estate property.</li>
        <li>Has a market value, operating as a going concern, of five times income per capita or $200,000, whichever is greater.</li>
        </ul>
        <h3 id="the-parties-">The parties:</h3>
        <p>The bank wants to recover as much as possible of its loan, as quickly and cheaply as possible. The unsecured creditors will do everything permitted under the applicable laws to avoid a piecemeal sale of the assets. The majority shareholder wants to keep the company operating and under their control. Management wants to keep the company operating and preserve its employees’ jobs. All the parties are local entities or citizens; no foreign parties are involved.</p>
        <h2 id="indicators">INDICATORS</h2>
        <h3 id="time-in-calendar-years-">Time (in Calendar Years)</h3>
        <p>Time for creditors to recover their credit is recorded in calendar years. The period of time measured by Doing Business North America is from the company’s default until the payment of some or all of the money owed to the bank.</p>
        <h3 id="strength-of-insolvency-framework-index-scale-0-16-">Strength of Insolvency Framework Index (Scale: 0 – 16)</h3>
        <p>The strength of insolvency framework index is constructed using four other indexes: (i) the commencement of proceedings index, (ii) the management of debtor’s assets index, (iii) the reorganization proceedings index, and (iv) the creditor participation index.</p>
        <p>The index ranges from zero to 16, with higher values indicating insolvency legislation that is better designed for rehabilitating viable firms and liquidating nonviable ones.</p>
        <h3 id="commencement-of-proceedings-index-scale-0-3-">Commencement of Proceedings Index (Scale: 0 – 3)</h3>
        <p><strong>The commencement of proceedings index has three components:</strong></p>
        <ol>
        <li>Whether debtors can initiate both liquidation and reorganization proceedings. A score of 1 is assigned if debtors can initiate both types of proceedings; a score of 0.5 is assigned if they can initiate only one of these types; a score of 0 is assigned if they cannot initiate insolvency proceedings.</li>
        <li>Whether creditors can initiate both liquidation and reorganization proceedings. A score of 1 is assigned if creditors can initiate both types of proceedings; a score of 0.5 is assigned if they can initiate only one of these types (either liquidation or reorganization); a score of 0 is assigned if they cannot initiate insolvency proceedings.</li>
        <li>What standard is used for commencement of insolvency proceedings. A score of 1 is assigned if a liquidity test is used; a score of 0.5 is assigned if the balance sheet test is used; a score of 1 is assigned if both the liquidity and balance sheet tests are available but only one is required to initiate insolvency proceedings; a score of 0.5 is assigned if both tests are required; a score of 0 is assigned if a different test is used.</li>
        </ol>
        <p>The index ranges from 0 to 3, with higher values indicating greater access to insolvency proceedings.</p>
        <h3 id="management-of-debtor-s-assets-index-scale-0-6-">Management of Debtor’s Assets Index (Scale: 0 – 6)</h3>
        <p><strong>The management of debtor’s assets index has six components:</strong></p>
        <ol>
        <li>Whether the debtor can continue performing contracts essential to the debtor’s survival. A score of 1 is assigned if yes; a score of 0 is assigned if continuation of contracts is not possible or if the law contains no provisions on this subject.</li>
        <li>Whether the debtor (or an insolvency representative on its behalf) can reject overly burdensome contracts. A score of 1 is assigned if yes; a score of 0 is assigned if rejection of contracts is not possible or if the law contains no provisions on this subject.</li>
        <li>Whether transactions entered into before commencement of insolvency proceedings that give preference to one or several creditors can be avoided after proceedings are initiated. A score of 1 is assigned if yes; a score of 0 is assigned if avoidance of such transactions is not possible or if the law contains no provisions on this subject.</li>
        <li>Whether undervalued transactions entered into before commencement of insolvency proceedings can be avoided after proceedings are initiated. A score of 1 is assigned if yes; a score of 0 is assigned if avoidance of such transactions is not possible or if the law contains no provisions on this subject.</li>
        <li>Whether the insolvency framework includes specific provisions that allow the debtor (or an insolvency representative on its behalf), after commencement of insolvency proceedings, to obtain financing necessary to function during the proceedings. A score of 1 is assigned if yes; a score of 0 is assigned if obtaining post-commencement financing is not possible or if the law contains no provisions on this subject.</li>
        <li>Whether post-commencement financing receives priority over ordinary unsecured creditors during distribution of assets. A score of 1 is assigned if yes; a score of 0.5 is assigned if post-commencement financing is granted super-priority over all creditors, secured and unsecured; a score of 0 is assigned if no priority is granted to post-commencement financing or if the law contains no provisions on this subject.</li>
        </ol>
        <p>The index ranges from 0 to 6, with higher values indicating more advantageous treatment of the debtor’s assets from the perspective of the company’s stakeholders.</p>
        <h3 id="reorganization-proceedings-index-scale-0-3-">Reorganization Proceedings Index (Scale: 0 – 3)</h3>
        <p><strong>The reorganization proceedings index has three components:</strong></p>
        <ol>
        <li>Whether the reorganization plan is voted on only by the creditors whose rights are modified or affected by the plan. A score of 1 is assigned if yes; 0.5 if all creditors vote on the plan, regardless of its impact on their interests; 0 if creditors do not vote on the plan or if reorganization is not available.</li>
        <li>Whether creditors entitled to vote on the plan are divided into classes, each class votes separately and the creditors within each class are treated equally. A score of 1 is assigned if the voting procedure has these three features; 0 if the voting procedure does not have these three features or if reorganization is not available.</li>
        <li>Whether the insolvency framework requires that dissenting creditors receive as much under the reorganization plan as they would have received in liquidation. A score of 1 is assigned if yes; 0 if no such provisions exist or if reorganization is not available.</li>
        </ol>
        <p>The index ranges from 0 to 3, with higher values indicating greater compliance with internationally accepted practices.</p>
        <h3 id="creditor-participation-index-scale-0-4-">Creditor Participation Index (Scale: 0 – 4)</h3>
        <p><strong>The creditor participation index has four components:</strong></p>
        <ol>
        <li>Whether creditors appoint the insolvency representative or approve, ratify or reject the appointment of the insolvency representative. A score of 1 is assigned if yes; 0 if no.</li>
        <li>Whether creditors are required to approve the sale of substantial assets of the debtor in the course of insolvency proceedings. A score of 1 is assigned if yes; 0 if no.</li>
        <li>Whether an individual creditor has the right to access financial information about the debtor during insolvency proceedings. A score of 1 is assigned if yes; 0 if no.</li>
        <li>Whether an individual creditor can object to a decision of the court or of the insolvency representative to approve or reject claims against the debtor brought by the creditor itself and by other creditors. A score of 1 is assigned if yes; 0 if no.</li>
        </ol>
        <p>The index ranges from 0 to 4, with higher values indicating greater participation of creditors.</p>
        <h2 id="how-the-resolving-insolvency-category-is-ranked-and-scored">How the ‘Resolving Insolvency’ Category is Ranked and Scored</h2>
        <p>The ‘Resolving Insolvency’ category was ranked and scored using the following two indicators:</p>
        <p>Topic and Indicator | Best Performer | Worst Performer</p>
        <p>Time (in Calendar Years) | 0.80 years | 1.80 years</p>
        <p>Strength of Insolvency Framework Index | 15 points | 11 points</p>
        <p>For each indicator, there is a top performer and a bottom performer. Economies with the best performance for a given indicator are awarded 10 “points,” or a score of 10. Cities at the level of bottom performance, or cities at or below two standard deviations from the mean, are awarded a score of 0. All the cities in between are scored based on their distance to the frontier. For each city, the number of awarded points across all indicators is aggregated, then divided by the number of indicators for which we had data. This is done because not all locations have complete data across all indicators, and doing so allows for all locations to be included in comparison.</p>
        <p>For more information on how indicators, indexes, and groups are scored, how the ranking and scoring system for a category works, or how the overall Ease of Doing Business rank and score were derived, please read the first section of this methodology appendix.</p>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
